

body {
	margin: 20px !important;
	background-color: rgb(45, 183, 207);

}
* {
	text-align: center !important;
}

h1, h3, p, label, textarea {
	color: #5c1f0a  !important;
}
.display-4{
	margin-top: 4em;
	margin-bottom: 2em;
	font-size: 25px;
}
#delim {
	width: 50px;
	display: inline;
}


::selection {
	background: #5c1f0a;
	color: #fff;
}	
::placeholder {
	color: #eb7047;
}

textarea:focus,
input[type="text"]:focus,


input {
	opacity: 0.9;
	
}
#input{
	width: 75%;
	height: 160px;
	font-size: 22px;
	font-weight: bold;
	outline: 0;
	margin-bottom: 2em;
	border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;
}

#delim{
	display: none;
}
.wtf{
	font-size: 12px;
}
.btn-bubble {
	color: white;
	background-color: #77b11c;
	background-repeat: no-repeat;
  }
  .btn-bubble:hover, .btn-bubble:focus {
	-webkit-animation: bubbles 1s forwards ease-out;
			animation: bubbles 1s forwards ease-out;
	background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 39% 93% / 1.17em 1.17em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 26% 108% / 1.05em 1.05em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 88% 118% / 1.19em 1.19em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 46% 108% / 1.1em 1.1em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 12% 126% / 0.52em 0.52em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 9% 138% / 0.62em 0.62em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 29% 123% / 0.91em 0.91em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 26% 114% / 0.83em 0.83em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 32% 133% / 1.2em 1.2em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 101% 95% / 0.89em 0.89em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 90% 98% / 1.13em 1.13em;
	background-color: #77b11c;
	background-repeat: no-repeat;
  }
  
  @-webkit-keyframes bubbles {
	100% {
	  background-position: 38% -21%, 20% 12%, 83% -356%, 42% -362%, 15% -232%, 11% 5%, 28% -377%, 28% -37%, 38% -325%, 95% -262%, 94% -166%;
	  box-shadow: inset 0 -6.5em 0 #0072c4;
	}
  }
  
  @keyframes bubbles {
	100% {
	  background-position: 38% -21%, 20% 12%, 83% -356%, 42% -362%, 15% -232%, 11% 5%, 28% -377%, 28% -37%, 38% -325%, 95% -262%, 94% -166%;
	  box-shadow: inset 0 -6.5em 0 #0072c4;
	}
  }

  .btn {
	display: inline-block;
	text-decoration: none;
	padding: 0.7em 2.4em;
	outline: none;
	border: none;
	margin-bottom: 3em;
	font-size: 15px;
	font-weight: 500;
  }
  textarea{
	border: 2px solid #5c1f0a !important;
	width: 75%;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	margin-top: 2em;
	outline: none;
	border: 0 !important;
	
}
#output{
	
padding: 2em;
}
.result{
	font-size: 32px;
	margin-top: 2em;
}