@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: "Montserrat";
}

body {
  background-color: #0093E9;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.container {
  margin: 20px auto;
  width: 600px;
}

select {
  display: inline-block;
  margin-left: 30px;
  width: 100px;
  height: 200px;
  text-align: center;
  background-color: black;
  color: white;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 30px;
}

select:focus {
  outline: none;
}

h3 {
  text-align: center;
  margin: 30px;
  color: white;
}

 .resistor {
    width: 360px;
    height: 50px;
    margin: auto;
/*     background-color: red; */
  }

.wire {
  position: relative;
  top: -12px;
  left: 4px;
  width: 130px;
  height: 10px;
  background-color: silver;
  display: inline-block;
}

.body {
  background-color: #d0ab18;
  width:90px;
  height: 35px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 15px;
}

.wire2 {
  position: relative;
  top: -12px;
  left: -4px;
  width: 130px;
  height: 10px;
  background-color: silver;
  display: inline-block;
  
}
  


@media only screen and (max-width: 600px) {
  
  .container {
  margin: 20px auto;
  width: 500px;
  }
  
  select {
  width: 80px;
  height: 180px;
  padding-left: 20px;
  
}
  
 