
body{
  background-color: rgb(12, 201, 248);
  margin: 0;
}
h2{
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 28px;
  border-bottom: 2px solid #000;
}

.graph {
  width: 100%;
  height: 600px;
  
}

img.desmosicon {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}