
body{
  background-image: linear-gradient(to top, #209cff 100%, #68e0cf 200%);
}
.bd-example { 
 
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-width: 0.2rem;
      border-top-width: 0.2rem;
      border-right-width: 0.2rem;
      border-bottom-width: 0.2rem;
      border-left-width: 0.2rem;
  padding: 1.5rem;
      padding-top: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 1.5rem;
border-color: #F7F7F9;
  border-top-color: #F7F7F9;
  border-right-color: #F7F7F9;
  border-bottom-color: #F7F7F9;
  border-left-color: #F7F7F9;
}

[class^="col-"] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  
}

.row
{
  display: flex;
padding: 1.5rem;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
border-width: 0.2rem;
}

.centered
{
display:flex;
justify-content:center;
align-items:center;
}

.size
{
 font-size: 14.3px;
 line-height: 2;
}





.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-left: 2rem;
  margin-top: 0.1rem;
  display: block;
  overflow: hidden;
  transition: all 0.3s;
  transform: translateY(0rem);
  
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
	margin: 0 auto;
  padding: 0.2rem 0.2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  border: none;
  outline: none;

}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.vaccine{
  background-color: beige;
}
.covid{
  background-color: blanchedalmond;
  margin-left: 30px;
}


table { 
  width: 1000px; 
  border-collapse: collapse; 
  margin:50px auto;
  }

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
  }

th { 
  background: #7cc980; 
  color: white; 
  font-weight: bold; 
  }

td, th { 
  padding: 10px; 
  border: 1px solid #ccc; 
  text-align: left; 
  font-size: 18px;
  font-weight: bold;
  }

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  table { 
      width: 100%; 
     
  }
  .chair{
    width: 200px;
  }
  td{
    font-size: 14px;
  }
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 

  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; width: 280px; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }

  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }

}
.form__input{
  height: 30px;
}
.class{
  text-align: center;
  display: block;
  margin : 0 auto;
  width: 50%;
  
}

.center{
  display: block;
  margin : 0 auto;
  width: 150px;
  height: 150px;
  
  
}
.form-check{
  margin: 10px;
  font-weight: bold;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(40, 83, 90);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.size{
  font-size: 24px;
  text-align: center;
}
.center1{
  display: block;
  margin : 0 auto;
  width: 300px;
  height: 80px;
}
.chair{
  
    margin-left: auto;
    margin-right: auto;
  
}
@media only screen and (max-width: 600px) {
  .small{
    font-size: 16px;
  }
  .sep{
    display: block;
  }
  .form__input{
    
    font-size: 1rem;
   margin: 20px;
    padding: 0.2rem 0.2rem;
    position: relative;
    width: 150px;
    display: block;
    
  }
  .vaccine{
    width: 430px;

  }
  .covid{
    width: 600px;
    
  }
}
