@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {

  font-family: 'Droid Sans Mono', sans-serif;
  background-color: #0093E9;
}

.container{
  margin-left:15%;
  margin-right:15%;
  margin-top: 10%;
  background-color:khaki;
  border:medium solid darkkhaki;
  text-align: center;
}
.btn-bubble {
	color: white;
	background-color: #77b11c;
	background-repeat: no-repeat;
  }
  .btn-bubble:hover, .btn-bubble:focus {
	-webkit-animation: bubbles 1s forwards ease-out;
			animation: bubbles 1s forwards ease-out;
	background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 39% 93% / 1.17em 1.17em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 26% 108% / 1.05em 1.05em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 88% 118% / 1.19em 1.19em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 46% 108% / 1.1em 1.1em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 12% 126% / 0.52em 0.52em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 9% 138% / 0.62em 0.62em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 29% 123% / 0.91em 0.91em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 26% 114% / 0.83em 0.83em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 32% 133% / 1.2em 1.2em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 101% 95% / 0.89em 0.89em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 90% 98% / 1.13em 1.13em;
	background-color: #77b11c;
	background-repeat: no-repeat;
  }
  
  @-webkit-keyframes bubbles {
	100% {
	  background-position: 38% -21%, 20% 12%, 83% -356%, 42% -362%, 15% -232%, 11% 5%, 28% -377%, 28% -37%, 38% -325%, 95% -262%, 94% -166%;
	  box-shadow: inset 0 -6.5em 0 #0072c4;
	}
  }
  
  @keyframes bubbles {
	100% {
	  background-position: 38% -21%, 20% 12%, 83% -356%, 42% -362%, 15% -232%, 11% 5%, 28% -377%, 28% -37%, 38% -325%, 95% -262%, 94% -166%;
	  box-shadow: inset 0 -6.5em 0 #0072c4;
	}
  }

  .btn {
	display: inline-block;
	text-decoration: none;
	padding: 0.9em 1em;
	outline: none;
	border: none;
	margin-bottom: 3em;
	font-size: 15px;
  font-weight: 800;
  text-align: center;
  }
input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;

  border: 1px solid #DDDDDD;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
 transition: all 0.30s ease-in-out;

}
@media only screen and (max-width: 600px){
  .input{
    width: 40px;
  }
}
.input{
  width: 60%;
  height: 50px;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  
  border: 1px solid rgba(81, 203, 238, 1);
}
.series{
  padding: 0 10px;
}