body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #209cff 100%, #0098f0 200%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 40px 0;
  width: 1000px;
  height: 500px;
  text-align: center;
  background-color: khaki;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat";
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
h2{
  background-color: khaki;
  padding: 0.7em;
  margin-top: 20px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
form{
  display: inline-block; 
  margin:0 auto;
  margin-top: 20px;
}
input{
 width: 8em;
 height: 2em;
 margin-left: 1em;
 border: none;
 outline: none;
font-size: 18px;
  margin-right: 1em;
  border: 1px solid #999;
 
}
input[type="text"]:focus
{
  -webkit-transform: scaleX(1) translateY(-2px);
          transform: scaleX(1) translateY(-2px);
  opacity: 1;
}
hr{
  background-color: rgb(0, 0, 0);
}
.main{
  display: inline-block;
}
button{
  height: 32px;
  width: 62px;
 background-color: #209cff;
 border: none;
 outline: none;
 color: white;
 font-weight: bold;
 font-size: 16px;
 margin-left: 10px;
 
}
#data-in{
  display: inline-block;
  margin-bottom: 2em;
 
   }
#error{
  color: red;
  }
.fraction {
   display: inline-block;
    vertical-align: middle;
    margin: 0 1em; 
    margin-bottom: 2em;
  }
  #add-button{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 3px solid rgb(0, 0, 0);
    padding: 0.7em;
    
    
  }
select{
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(196, 131, 131);
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}