body {
  background-color: blueviolet;
  color: whitesmoke;
  font-family: "Dancing Script", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
canvas#canvas {
   
    position: relative;
    clear: both;
    background-color: blueviolet;
    background: -webkit-linear-gradient(to top, #ffdde1, #ee9ca7);
    background: linear-gradient(to top, #9405f3, #ee9ca7);
  }
.container {
  margin: 5px auto;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
  width: 400px;
    transform: translate(-50%, -50%); 

    padding: 20px;
    height: auto;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 0 gray;
    background-color:rgb(247, 171, 209);
    
}


h1{
  font-size: 24px;
  text-align: center;

  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #e60073, 0 0 10px #e60073, 0 0 16px #e60073, 0 0 20px #e60073, 0 0 24px #e60073;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 12px #ff4da6, 0 0 16px #ff4da6, 0 0 18px #ff4da6, 0 0 21px #ff4da6, 0 0 24px #ff4da6, 0 0 28px #ff4da6;
  }
}
h2{
  font-size: 24px;
  text-align: center;

  color: #fff;
  text-align: center;
}

label {
  margin-bottom: 1rem;
}

input {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  margin: 0 auto;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-12{
  position: relative;
  right: 40px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background-color: #1fd1f9;
background-image: linear-gradient(315deg, #ec81d5 0%, #fe21ce 74%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

input:focus{
  outline: none;
}

.pic{
  
    
  display: flex;
  align-items: center;
  justify-content: center;


}
.pic img{
  width: 200px;
  height: 100px;
}

.text-input{
  
  position: relative;
  margin-top: 50px;
}
  input[type="text"]{
    display: block;
    margin : 0 auto;
    width: 300px;
    height: 40px;
    font-family: "Dancing Script", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
  }

  input[type="text"] + label{
    position: absolute;
    top: 0;
    left: 50px;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 3px 0 0 3px;
    padding: 0 20px;
    background: #E03616;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
  }
 
  input[type="text"]:focus + label{
    transform: translateY(-120%) translateX(0%);
    border-radius: 3px;
    transition: all 0.1s ease-out;
  }
  
  input[type="text"]:focus{
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
  }


  .heart{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
      background-color:red;
      height:20px;
      width:20px;
      animation: beat 1s infinite;
      transform:rotate(-45deg);
      
    }
    
    .heart:before{
      content:"";
      border-radius:50%;
      background-color:red;
      position:absolute;
      top:-10px;
      left:0;
      height:20px;
      width:20px;
    }
    
    .heart:after{
      content:"";
      border-radius: 50%;
      background-color:red;
      position:absolute;
      top:0;
      left:10px;
      height:20px;
      width:20px;
    }
   
    @keyframes beat{
      0%{
        transform: scale(1) rotate(-45deg);
      }
      50%{
        transform: scale(1.3) rotate(-45deg);
      }
      70%{
        transform: scale(1.5) rotate(-45deg);
      }
    
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-family: "Dancing Script", sans-serif;
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-family: "Dancing Script", sans-serif;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      font-family: "Dancing Script", sans-serif;
    }
    
    @media only screen and (max-width: 600px) {
      .container {
        width: 250px;
        height: auto;
      }
      h1,h2{
        font-size: 20px;
      }
      input{
        margin-bottom: 0;
      padding: 0.5rem 0.5rem;
      border-radius: 10px;
      font-size: 1rem;
      }
      .pic img{
        width: 130px;
        height: 75px;
      }
      input[type="text"]{
        width: 200px;
      height: 30px;
      }
      input[type="text"] + label{
        height: 30px;
        line-height: 30px;
        left: 20px;
      }
      .heart{
        height:10px;
      width:10px;
    
      }
      .heart:before{
        top:-5px;
        height:10px;
        width:10px;
      }
      .heart:after{
        left: 5px;
        height:10px;
        width:10px;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: "Dancing Script", sans-serif;
        opacity: 1;/* Firefox */
        font-size: 13px;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-family: "Dancing Script", sans-serif;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        font-family: "Dancing Script", sans-serif;
      }
    }




    